Package {{ package.name }}
===============================================================================

{{ package.description }}

.. only:: url_any

   Links
   -----
   {{ url_repository }}
   {{ url_website }}
   {{ url_bugtracker }}

Package API
-----------

.. toctree::
   :maxdepth: 2

   C++ API <generated/unabridged_api>
   Python API <generated/python/modules>

Project Documentation
---------------------

.. toctree::
   :maxdepth: 2
   :glob:

   *

.. toctree::
   :hidden:
   :maxdepth: 1
   :glob:

   generated/toc/*


Indices and Search
------------------

* :ref:`genindex`
* :ref:`search`
